.item {
  &__cart-btn {
    background-color: #5198d4;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    width: 121px;
    height: 31px;
    border: none;
    color: white;
    margin: 2%;
  }
}
