@import url("https://fonts.googleapis.com/css?family=Chivo:400,700");

// font-family: 'Chivo', sans-serif;
// bold: 700

.item {
  &__cart-btn {
    background-color: #5198d4;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    width: 121px;
    height: 31px;
    border: none;
    color: white;
    margin: 2%;
    // font-size: 13
  }
}
